<div class="container-fluid footer-container">
    <div class="row">
        <footer>
            <p class="text-center fs-4">Created with <span>&#x2764;</span> by &copy;TechnicalWeb</p>
        </footer>
    </div>
</div>